/* imports */
/* @import url("shell.css"); */
@import url('http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Gentium+Book+Basic:400,400italic,700,700italic');
/* namespaces */
/* @namespace "http://www.tei-c.org/ns/1.0"; */
/* @namespace with prefix, as below, throws and error in less. */
/* @namespace html "http://www.w3.org/1999/xhtml"; */
/* Less variables */
.navig-arrow {
    display:inline-block;
    position: relative;
    
    cursor: pointer;
    text-decoration: none;
    
    color: #122e4b;
    background-color: #fff;
    border: 1px solid #ddd;
    
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
        
}

.navig-arrow:hover {
    background-color: #ddd;
}

.navig-arrow-left {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.navig-arrow-right {
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #314757 !important;
    border-color: #436278 !important;
    color: #fff !important;
}

aa {
    color: #122e4b !important;   
}

scribe::before{
    content: "\a";
    white-space: pre;
}

.entry_db {
    padding-left: 20px;
    margin-bottom: 8px;
    background-color: #314757; 
    color: #ffffff;   
}

.siglum_db {
    padding: 20px;
    padding-left: 0px;   
}

.expand_db {
    background-color: #6d8f60;
    padding: 7px;
    padding-right: 20px;
    text-align: right; 
}
}