<?xml version="1.0" encoding="UTF-8"?>
<nav xmlns:i18n="http://exist-db.org/xquery/i18n" class="navbar-cab" role="navigation">
    <div id="home">
        <div class="titlebox">
            <a href="https://cab.geschkult.fu-berlin.de/exist/apps/cab/index.html" style="text-decoration:none" class="title_deco">
					<h1 class="nav-title">Corpus Avesticum Berolinense</h1>
			</a>
            <h4 class="nav-subtitle">An Edition of the Zoroastrian Rituals in the Avestan Language</h4>
        </div>
        <div class="logo-box">
                <a href="http://www.dfg.de/en/" target="_blank">
					<img src="https://cab.geschkult.fu-berlin.de/exist/apps/cab/images/logos/dfg.png" style="width:40%;padding:10px"/>
				</a>
				<a href="https://www.geschkult.fu-berlin.de/e/iranistik/index.html" target="_blank">
					<img src="https://cab.geschkult.fu-berlin.de/exist/apps/cab/images/logos/fu-logo.png" style="width:40%;padding:10px"/>
				</a>
		</div>
    </div>
</nav>